@font-face {
  font-family: 'YoungSerif';
  src: url('~/assets/font/subset-YoungSerif-Regular.woff2') format('woff2'),
  url('~/assets/font/subset-YoungSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('~/assets/font/subset-ApercuPro-Bold.woff2') format('woff2'),
  url('~/assets/font/subset-ApercuPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('~/assets/font/subset-ApercuPro-Light.woff2') format('woff2'),
  url('~/assets/font/subset-ApercuPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('~/assets/font/subset-ApercuPro-ExtraLight.woff2') format('woff2'),
  url('~/assets/font/subset-ApercuPro-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('~/assets/font/subset-ApercuPro-Black.woff2') format('woff2'),
  url('~/assets/font/subset-ApercuPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('~/assets/font/subset-ApercuPro-Medium.woff2') format('woff2'),
  url('~/assets/font/subset-ApercuPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('~/assets/font/subset-ApercuPro-Italic.woff2') format('woff2'),
  url('~/assets/font/subset-ApercuPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('~/assets/font/subset-ApercuPro-Regular.woff2') format('woff2'),
  url('~/assets/font/subset-ApercuPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('~/assets/font/subset-ApercuPro-Thin.woff2') format('woff2'),
  url('~/assets/font/subset-ApercuPro-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

