/*
 * [ settings / helpers ]
 */

// -----------------------------------------------------------------------------

%full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-right: -50vw;
    margin-left: -50vw;
}
