/*
 * [ settings / colors ]
 */

// -----------------------------------------------------------------------------

// 1. Default color palette
// ====================================

$white:                #FFFFFF;
$black:                #000000;
$white-light:          rgba(255, 255, 255, .25);

$gray:                 #D0D0D0;
$gray-lightest:        lighten($gray, 15%);
$gray-dark:            darken($gray, 5%);
$gray-darker:          darken($gray, 10%);

$primary:              #FB9669;
$primary-darkest:      darken($primary, 25%);
$primary-darker:       darken($primary, 20%);
$primary-dark:         darken($primary, 10%);
$primary-light:        lighten($primary, 10%);
$primary-lighter:      lighten($primary, 20%);
$primary-lightest:     lighten($primary, 25%);

$secondary:              #3B3560;
$secondary-darkest:      darken($secondary, 25%);
$secondary-darker:       darken($secondary, 20%);
$secondary-dark:         darken($secondary, 10%);
$secondary-light:        lighten($secondary, 10%);
$secondary-lighter:      lighten($secondary, 20%);
$secondary-lightest:     lighten($secondary, 25%);


$date: #CED5DB;
$date-light: rgba(206, 213, 219, .25);
$color-body:      $white;
$color-text:      $secondary;
$color-link:      $primary;


/*
 * [ settings / layout ]
 */

// -----------------------------------------------------------------------------

$container-max-width: 1180px;

$grid-columns: 12;
$grid-gap: 16px;



/*
 * [ settings / miscellaneous ]
 */
$shadow--first: 0 4px 20px rgba(0,0,0,0.15);
$shadow--second: 0 0 9px rgba(0,0,0,0.15);
$transition: 0.25s ease-out;
$radius: 8px;
