MONGO_HOST=127.0.0.1:27017
MONGO_DATABASE=memorymotel

APP_BASE_URL=http://192.168.1.84:8080

MAIL_HOST=smtp.example.com
MAIL_USER=user@example.com
MAIL_PASSWORD=topsecret
MAIL_FROM=noreply@example.com


