/*
 * [ elements / typography ]
 */

// -----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  line-height: $line-height-headings;
  font-family: $font-primary;
  font-weight: 900;

  p {
    line-height: $line-height-headings;
    font-family: $font-primary ;
    font-weight: 900;
  }
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
  font-family: $font-secondary;
  font-size: 32px;
  font-weight: normal;
  color: $secondary;
}

h2 {
  font-family: $font-secondary;
  color: $secondary;
  font-size: 24px;

}

p {
  font-family: $font-primary;
  font-weight: 300;
}

input {
  font-family: $font-primary;
  font-weight: 400;
}


/* -------- Responsive -------- */
/*@media #{$tablet-m-media} {
  h1, h2 {
    font-size: 18px;
  }
}

@media #{$mobile-l-media} {
  h1, h2 {
    font-size: 18px;
  }
}*/
