<p>Bienvenue {{ name }},</p>
<p>Confirme ton email à l'aide du lien ci-dessous</p>
<p>
    <a href="{{ url }}">Confirmer</a>
</p>

<p>Si tu n'es pas à l'origine de ce mail, tu peux simplement le supprimer.</p>
