/*
 * [ utilities / link ]
 */

// -----------------------------------------------------------------------------

.u-button {
  position: relative;
  display: block;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  border-radius: 4px;
  padding: 0 32px;
  text-align: center;

  @include hover {
  }
}
/*
.u-button + .u-button {
  margin-top: 8px;
}
*/

.u-button--primary {
  background-color: $gray-darkest;
  color: $white;
  border: none;
}

.u-button--outline {
  border: 1px solid $gray-darkest;
  line-height: 46px;
  background-color: transparent;
}

.u-button--round {
  padding: 0;
  width: 106px;
  height: 106px;
  border-radius: 100%;
  border: 6px solid $white;
  background-color: $gray;
  box-shadow: $shadow--second;
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-button--background {
  position: relative;
  padding: 0;
  height: auto;
  line-height: 1;
  background-color: transparent;
  border: none;
  width: 100%;

  &.dark {
    color: $white;
  }
  &.light {
    color: $black;
  }
}

.u-button--text {
  background: none;
  border: none;
  padding: 0 12px;
  height: inherit;
  line-height: 36px;
}

.u-button__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  svg {
    margin-bottom: 4px;
  }
}

.u-button__bg {
  width: 100%;
}

.u-button--action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: $background;
  box-shadow: $shadow--third;
  border: none;
  border-radius: 50%;
}

.u-button--back {
  position: relative;
  display: block;
  padding: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: $gray-darkest;
  border: none;

  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  path {
    fill: $background;
  }
}

.u-button--back.light {
  background-color: $background;
  path {
    fill: $gray-darkest;
  }
}
.u-button--back.absolute {
  position: absolute;
  z-index: 5;
  top: 18px;
  left: 18px;
}

.u-button--back.transparent {
  background-color: transparent;
}

.u-button__input-file {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
