/*
 * [ utilities / link ]
 */

// -----------------------------------------------------------------------------

.u-link {
  position: relative;
  display: initial;
  padding-bottom: 5px;
  color: $gray-lightest;
  text-decoration: none;
  transition: all .3s ease-in-out;
  background-color: transparent;
  border: none;

  @include hover{
  }
}
