.tab-nav {
  justify-content: flex-start;
  margin: 20px 0;
  padding-bottom: 0;
  font-weight: 500;
}

.tab-nav__item {
  height: 32px;
  margin-right: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  border-bottom: 2px solid transparent;

  &.current {
    font-weight: 500;
    border-color: $gray-darkest;
  }
}