.o-page {
  display: flex;
  flex-direction: column;
  // Remove navbar height
  min-height: calc(100vh - 72px);
  margin: auto;
  background-color: $background;
  max-width: 688px;
}

.o-page__outside {
  margin-left: -16px;
  margin-right: -16px;
}

.o-page__container {
  padding-left: 16px;
  padding-right: 16px;
}

.o-page--full {
  z-index: 50;
  position: fixed;
  max-width: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.with-nav {
    height: calc(100% - 72px);
    bottom: auto;
  }
}

.o-page__header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}

.o-page__header-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  border: none;
  background-color: transparent;
  height: 100%;
  font-size: 14px;

  &:first-child {
    left: 0;
  }

  &:last-child {
    right: 0;
  }

  &.primary {
    color: #FEC26F;
    font-weight: 600;
  }

  &.icon {
    width: 58px;
    padding: 0;
  }

  svg {
    vertical-align: middle;
  }
}

.o-page__header {
  padding: 25px;
}

.o-page__title {
  font-size: 24px;
  //font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  display: block;
}

.o-page__subtitle {
  font-size: 24px;
}

.o-page__container {
  position: relative;
  z-index: 10;
  height: 100%;
}

.o-page__body {
  flex-grow: 1;
  padding: 0 25px;
}


.o-page--summary .o-page__body {
  padding: 0 8px;
}

// Specific
.o-page--register,
.o-page--login {
  .o-page__header {
    margin: 144px 0 64px 0;
    padding: 0 72px;
  }

  .register__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .register__container {
    flex-grow: 1;
  }

  .logo {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    width: 64px;
    margin: auto;
  }

  .form__actions {
    .u-button {
      width: 100%;
    }
  }
}
