/*
 * [ objects / container ]
 */

// -----------------------------------------------------------------------------

.o-section {
  padding-top: 52px;
  padding-bottom: 52px;
}

.o-section__head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray-darkest;
  padding-bottom: 8px;
}

.o-section__title {
  font-weight: 500;
  font-family: $font-primary;
}
